* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.navbar-nav {
    margin-left: 05%
}

.nav-link:hover {
    background-color: rgb(1, 53, 121);
    margin: 2px;
    border-radius: 5px;
}

.icono {
    display: block;
    z-index: 100000000;
    animation: moverIzquierda 1s ease-in;
}

.logo {
    width: 64px;
    height: 64px;
    animation: none;
}

.croquis {
    animation: none;
}

header {
    background: #0aa4ca;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #212389, #63a9e2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #212389, #63a9e2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    padding: 5px;
    width: 100%;
}

.container {
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.text-justify {
    text-align: justify;
}

.separacion {
    margin-top: 2rem;
}

.table {
    margin-top: 2em;
    margin-bottom: 2em;
}

img {
    display: block;
    height: 400px;
    object-fit: cover;
    animation: arriba 1s ease-in;
}

.textos {
    width: 50%;
    color: #fff;
}

.textos h1 {
    font-size: 80px;
    animation: moverDerecha 1s ease-in;
}

.textos h2 {
    font-size: 30px;
    animation: moverIzquierda 1s ease-in;
}

.textos a {
    display: inline-block;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;
}

.wave {
    height: 100px;
    width: 100%;
    background: #0a6dca;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #212389, #63a9e2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #212389, #63a9e2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.enlaces {
    position: fixed;
    display: flex;
    top: 0;
    background: #000;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    right: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: #664ebc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #212389, #63a9e2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #212389, #63a9e2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.uno {
    -webkit-clip-path: circle(0% at 0 0);
    clip-path: circle(0% at 0 0);
}

.dos {
    -webkit-clip-path: circle(150% at 0 0);
    clip-path: circle(150% at 0 0);
}

.lista {
    font-size: 2rem;
    margin: 5px;
}

footer {
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 90px;
    background-color: #dad9d9;
    padding: 20px;
}

footer p {
    margin-left: 5%;
    font-size: 12pt;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0a27ca;
}

footer img {
    width: 40px;
    height: auto;
}

.nuevoRegistro {
    width: 100%;
    margin: 20px;
    background-color: #f5f5f5;
    padding: 10px;
}

@keyframes moverIzquierda {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width:1000px) {
    img {
        height: 400px;
    }
}

@media screen and (max-width:800px) {
    img {
        height: 370px;
    }

    .textos h1 {
        font-size: 70px;
    }

    .textos h2 {
        font-size: 25px;
    }
}

@media screen and (max-width:700px) {
    img {
        height: 250px;
    }

    .textos h1 {
        font-size: 40px;
    }

    .textos h2 {
        font-size: 15px;
    }
}

@media screen and (max-width:450px) {
    .container {
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .textos {
        width: 100%;
        text-align: center;
    }

    .textos h1 {
        font-size: 60px;
    }
}

@media screen and (max-width:340px) {
    img {
        height: 160px;
    }

    .textos h1 {
        font-size: 35px;
    }

    .textos a {
        width: 120px;
    }

    .textos h2 {
        font-size: 15px;
    }
}