body {
    margin: 0;
    padding: 0;
    font-family: century gothic;
}

form {
    padding: 50px 20px;
    background: #212389;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #212389, #63a9e2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #212389, #63a9e2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: calc(25% + 100px);
    margin-top: 70px;
    padding-top: 28px;
    margin-bottom: 30px
}

.etiquetas {
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
}

h1 {
    text-align: center;
    padding: 12px;
    color: rgb(44, 2, 122)
}

input {
    width: calc(100% - 20px);
    padding: 9px;
    margin: auto;
    margin-top: 12px;
    font-size: 16px
}

input[type='submit'] {
    background-color: rgb(85, 13, 202);
    color: #fff;
    width: calc(80% - 20px);
    margin: 0 10%;
    margin-top: 22px;
    border: none;
}

input[type='submit']:hover {
    background-color: rgb(12, 58, 206);
    color: rgb(28, 21, 97);
    width: calc(80% - 20px);
    margin: 0 10%;
    margin-top: 22px;
    border: 1px;
}

.ok {
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #1e6;
    color: #fff
}

.bad {
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #a22;
    color: #fff
}

.off {
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: rgb(0, 0, 0);
    color: #fff
}

s .mensaje {
    width: 100%;
    max-width: 350px;
    margin: auto;
    margin-top: 20px;
    text-align: left;
    padding: 6px;
    color: red;
}

h6 {
    text-align: center;
    padding: 12px;
    color: rgb(206, 203, 203);
    line-height: 20px;
}